<h1>Pictures (<%= @pictures.length %>)</h1>
<%= link_to "New Picture", "/pictures/new" %>

<% @pictures.each do |picture| %>
  <p><%= picture.title %>, <%= picture.artist %></p>
  <a href="/pictures/<%= picture.id %>/edit"><img src="<%= picture.url %>"></a>
<% end %>
